---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<section id={href} class="w-full my-8 md:my-14">
  <div class="max-w-screen-xl mx-auto">
    <!-- <div class="rounded-xl bg-white/5 backdrop-blur-sm border border-white/10 p-8 md:p-16 lg:p-20"> -->
      <h2
        class="mb-8 md:mb-12 font-serif text-4xl font-bold tracking-tighter text-white md:text-5xl lg:text-6xl"
      >
        {text}
      </h2>
      <div class="w-full space-y-6 md:space-y-8">
        <slot />
      </div>
    </div>
  </div>
</section>